<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="connection.url">jdbc:mysql://localhost:3306/myApp</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>

		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

		<property name="connection.username">root</property>
		<property name="connection.password"></property>

		<property name="hibernate.connection.zeroDateTimeBehavior">convertToNull</property>

		<!-- <property name="hibernate.hbm2ddl.auto">create</property>  -->
		
		<property name="show_sql">true</property>


		<mapping class="com.tscherrig.jpa.gps.Area"></mapping>
		<mapping class="com.tscherrig.jpa.gps.Coordinate"></mapping>
		
		<mapping class="com.tscherrig.jpa.item.Product"></mapping>
		<mapping class="com.tscherrig.jpa.item.Campaign"></mapping>
		
		<mapping class="com.tscherrig.jpa.process.Visit"></mapping>
		
		<mapping class="com.tscherrig.jpa.user.User"></mapping>
		<mapping class="com.tscherrig.jpa.user.UserAdministrator"></mapping>
		<mapping class="com.tscherrig.jpa.user.UserCampaign"></mapping>
		<mapping class="com.tscherrig.jpa.user.UserProduct"></mapping>
		<mapping class="com.tscherrig.jpa.user.UserVisitor"></mapping>

		<mapping class="com.tscherrig.jpa.session.Token"></mapping>

	</session-factory>
</hibernate-configuration>